{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='content/niconicoanimespecial.css') }}" />
<script src="{{ url_for('static', filename='scripts/datetime.umd.js') }}"></script>
{% endblock %}

{% block content %}

<h1>NiconicoAnimeSpecial</h1>

<section>
	<button class="btn btn-outline-secondary" v-on:click="reload">
        <i class="reloadicon fas fa-sync-alt"></i>Reload
    </button>
</section>

<section>
	<table class="table">
		<tbody>
            {% raw %}
            <tr v-for="program in programs" v-bind:key="program.contentId">
                <td><a :href="'https://live.nicovideo.jp/gate/' + program.contentId" target="_blank">{{ program.title }}</a></td>
		<td><time :datetime="program.startTime.isoFormat()">{{ program.startTime.strftime('%m/%d(%a) %H:%M') }}</time></td>
            </tr>
            {% endraw %}
		</tbody>
	</table>
    {% raw %}
    <div id="alert-area">
        <ol style="list-style-type:none">
            <template v-for="alert in alerts">
                <li v-bind:class="'alert alert-dismissible alert-'+alert.type">
                    <button class="close" data-dismiss="alert">x</button><strong>{{ alert.type=='success' ? 'Success' : 'Error' }}</strong>:  {{ alert.message }}
                </li>
            </template>
        </ol>
    </div>
    {% endraw %}
</section>
{% endblock %}

{% block scripts %}
<script src="../static/scripts/niconicoanimespecial.js"></script>
{% endblock %}
