{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='content/player.css')}}" />
<script src="{{url_for('static',filename='scripts/player.js')}}" charset="utf-8"></script>
{% endblock %}

{% block content %}

<div class="row" id="searchboxarea">
    <form class="col-12 form-group row">
        <input id="keyword" type="text" class="form-control col" placeholder="Type keywords to search music!" autofocus></input>
        <button id="reloadbutton" class="btn btn-warning col-auto ml-3">
            <i class="fas fa-sync-alt"></i>
            <span class="hidden-xs"> Reload Database</span>
        </button>
    </form>
</div>

<div class="row" id="musiclistarea">
    <div class="col-12">
        <ol id="searchlist" class="list-group">

        </ol>
    </div>
</div>

<div class="row" id="playercontrollerarea">
    <div class="col-12">
    <div id="seekbar">
        <div class="bg-primary"></div>
    </div>
    <div class="text-center">
	<div class="btn-group ">
	    <button id="prev" type="button" class="btn btn-primary" data-toggle="tooltip" title="前へ">
		<i class="fas fa-backward"></i>
	    </button>
	    <button id="play" type="button" class="btn btn-primary" data-toggle="tooltip" title="再生/一時停止">
		<i class="fas fa-play"></i>
	    </button>
	    <button id="next" type="button" class="btn btn-primary" data-toggle="tooltip" title="次へ">
		<i class="fas fa-forward"></i>
	    </button>
	    <button id="shuffle" type="button" class="btn btn-primary" data-toggle="tooltip" title="シャッフル">
		<i class="fas fa-random"></i>
	    </button>
	    <button id="focusoncurrent" type="button" class="btn btn-primary" data-toggle="tooltip" title="再生中の場所に飛ぶ">
		<i class="fas fa-dot-circle"></i>
	    </button>
	</div>
    </div>
    </div>
</div>



<!-- reloading dialog -->
<div class="modal fade" id="reloadingdialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Database Reloading</h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width:100%;">
                        Reloading Database....
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" disabled="disabled">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
{% endblock %}
