{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='content/powerstate.css') }}" />
{% endblock %}

{% block content %}

<h1>PowerState</h1>

<section>
	<button class="btn btn-outline-secondary" v-on:click="reload">
        <i class="reloadicon fas fa-sync-alt"></i>稼働状況更新
    </button>
    <label class="form-check-label">定期更新: <input type="checkbox" v-model="autoreloadingEnabled" /></label>
</section>

<section>
	<table class="table">
		<tbody>
            {% raw %}
            <tr v-for="machine in machines" v-bind:key="machine.name">
                <td class="d-none d-lg-table-cell">{{ machine.name }}</td>
                <td class="d-none d-lg-table-cell">{{ machine.ip }}</td>
                <td class="d-none d-lg-table-cell">{{ machine.mac }}</td>
                <td class="d-table-cell d-lg-none"><a class="disabled-anchor" data-toggle="tooltip" v-bind:title="'IP: ' + machine.ip + '<br/>MAC: ' + machine.mac" data-html="true" data-placement="right">{{ machine.name }}</a></td>
                <td>{{ machine.active ? '稼働中' : '休止中' }}</td>
                <td>
                    <div class="d-none d-md-block"><div class="btn-group">
                        <button v-if="machine.supportedmode.indexOf('wake')>=0" v-on:click="change_powerstate('wake',machine)" class="btn btn-primary">起動</button>
                        <button v-if="machine.supportedmode.indexOf('sleep')>=0" v-on:click="change_powerstate('sleep',machine)" class="btn btn-primary">スリープ</button>
                        <button v-if="machine.supportedmode.indexOf('suspend')>=0" v-on:click="change_powerstate('suspend',machine)" class="btn btn-primary">休止状態</button>
                        <button v-if="machine.supportedmode.indexOf('shutdown')>=0" v-on:click="change_powerstate('shutdown',machine)" class="btn btn-primary">シャットダウン</button>
                    </div></div>
                    <div v-if="machine.supportedmode.length != 0" class="d-block d-md-none btn-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            操作<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li v-if="machine.supportedmode.indexOf('wake')>=0"><a v-on:click="change_powerstate('wake',machine)">起動</a></li>
                            <li v-if="machine.supportedmode.indexOf('sleep')>=0"><a v-on:click="change_powerstate('sleep',machine)">スリープ</a></li>
                            <li v-if="machine.supportedmode.indexOf('suspend')>=0"><a v-on:click="change_powerstate('suspend',machine)">休止状態</a></li>
                            <li v-if="machine.supportedmode.indexOf('shutdown')>=0"><a v-on:click="change_powerstate('shutdown',machine)">シャットダウン</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endraw %}
		</tbody>
	</table>
</section>
{% raw %}
<section>
    <ol>
        <li v-for="req in requests">
            {{ 'Requesting ' + req.name + ' to ' + req.state + '.' }}
        </li>
    </ol>
</section>
<section>
    <button v-on:click="alerts.splice(0, alerts.length)" class="btn btn-outline-secondary">Clear log</button>
    <ol style="list-style-type:none">
        <template v-for="alert in alerts">
            <li v-bind:class="'alert alert-dismissible alert-'+alert.type">
                <button class="close" data-dismiss="alert">x</button><strong>{{ alert.type === 'success' ? '成功' : 'エラー' }}</strong>:  {{ alert.message }}
            </li>
        </template>
    </ol>
</section>
{% endraw %}
{% endblock %}

{% block scripts %}
<script src="../static/scripts/powerstate.js" charset="utf-8"></script>
{% endblock %}
